.application-results{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: minmax(200px,1fr);
    gap: 30px;
    margin-top:40px;
}

.application_results_result{
    background-color: #fff;
    border-radius: 3px;
    padding: 24px;
}

.results_top{
    display: flex;
    align-items: center;
}

.results_top_title{
    font-weight: 400;
    font-size: 12px;
    margin: 0 8px;
}
.dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #FF3D00;
}
.results_center{
    margin-top: 14px;
}
.results_center_title{
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 14px;
}

.results_center_paragraph{
    font-weight: 400;
    font-size: 14px;
    display: flex;
    align-items: center;
    color: #939393;

}

.dot-center{
    margin: 0 10px;
    transform: scale(0.5);
    background-color: #C4C4C4;
}

.results_bottom_paragraph{
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    margin:0;
}
.results_bottom_paragraph span{
    padding: 6px 9px;  
    background: rgba(255, 61, 0, 0.16);
    border-radius: 2px;
    color:#FF3D00;
    margin-left: auto;
}



.three_vertical{
    margin-left: auto;
}





/* *{
    border: 1px solid red;
} */